$primary-color : #007a7f;
$text-color : #202020;
$background-color : #016392;
html {
    font-size:62.5%;
}
*,
*:before,
*:after {
    box-sizing: border-box;
    -webkit-box-sizing:border-box;
}
body {
    font-family: "Quicksand" , sans-serif;
    line-height: 1.4;
    background: #fafafa;
}
a {
    text-decoration: none;
}
img {
    display: block;
    max-width: 100%;
}
.text-clamp--1{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.wrapper {
    max-width: 1440px;
    margin: 0 auto;
    
}
.header {
    // padding: 0.8rem 0 ;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
    &__background {
        background : $primary-color;
        position: fixed;
        z-index: 2;
        width: 100%;
    }
    &__logo {
        h1 {
            font-size : 4.5rem ;
            font-weight : 900 ;
            color: #fff;
            // font-style: italic;
            text-shadow: 2px 2px 2px #e7dfdf;
        }
    }
    &__lookfor {
        display: flex;
        align-items: stretch;
        i {
            font-size: 2rem;
            padding: 1rem 2rem;
            background: #e7e9e9;
            color:$primary-color;
            border-top-left-radius: 5px;
            border-bottom-left-radius: 5px;
            cursor: pointer;
            transition: background-color .2s linear;
            &:hover {
                background:#ccc;
            }
        }
        input {
            padding: 1rem;
            width: 55rem;
            font-size: 1.5rem;
            outline: none;
            border: 2px;
            border-top-right-radius: 5px;
            border-bottom-right-radius: 5px;
            font-family: "Quicksand" , sans-serif;

        }
    }
    &__user {
        display: flex;
        justify-content: space-between;
        align-items: center;
        cursor: pointer;
       
        &-login {
            margin-right: 1.5rem;
            i {
                font-size : 2.5rem ;
                margin-right: 2px;
                color: #fff;
                transition: background-color .2s linear;
            }
            span {
                font-size :1.5rem ;
                font-weight:500;
                color: #fff;
                transition: background-color .2s linear;
            }
            &:hover i ,
            &:hover span{
                color: #ebe5e5;
            }
        }
        &-logout {
            i {
                font-size : 2.4rem ;
                margin-right: 2px;
                color: #fff;
                transition: background-color .2s linear;
            }
            span {
                font-size :1.5rem ;
                font-weight:500;
                color: #fff;
                transition: background-color .2s linear;
            }
            &:hover i ,
            &:hover span{
                color: #ebe5e5;
            }
        }
    }
}
.banner {
    padding-top: 6.3rem;
}
.h-80 {
    height:80vh;
    // object-fit: cover;
}
.room {
    border-bottom: 1px solid #cccc;
    margin-bottom: 2rem;
    &__title {
        font-size: 2rem;
        font-weight: 600;
        padding: 0.8rem 0;
        text-align: center;
        width: 35%;
        margin: 8rem 0 2rem;
        color: #fff;
        background: $background-color;
        border-top-right-radius: 3rem;
        border-bottom-right-radius: 3rem;
    }
    &__background {
        position: relative;
        img {
            height: 40rem;
            width: 100%;
        }
        h2 {
            position: absolute;
            top: 30%;
            text-align: center;
            width: 100%;
            font-size: 4rem;
            font-weight: 700;
            color:$background-color;
            text-shadow: 2px 2px 4px #000000;
        }
        &-input {
            position: absolute;
            top: 50%;
            width: 100%;
            display: flex;
            align-items: stretch;
            font-family: "Quicksand" , sans-serif;

            justify-content: center;
            span {
                font-size: 2rem;
                padding: 1rem 2rem;
                background: #e7e9e9;
                font-weight: 600;
                border-top-left-radius: 5px;
                border-bottom-left-radius: 5px;
                color: $text-color;
            }
            input {
                font-size: 2rem;
                width: 50rem;
                padding: 1rem;
                outline: none;
                border: none;
                font-family: "Quicksand" , sans-serif;

            }
            i {
                font-size: 3rem;
                padding: 1rem 2rem;
                background: #e7e9e9;
                color:$background-color;
                border-top-right-radius: 5px;
                border-bottom-right-radius: 5px;
                cursor: pointer;
                transition: background-color .2s linear;
                &:hover {
                    background:#ccc;
                }
            }
        }
    }
    &__intro {
        h3 {
            padding: 3rem 0 0 4rem;
            font-weight: 700;
            font-size: 2.5rem;
            text-transform: uppercase;
        }
    }
    &__slider {
        width: 100%;
        height: auto;
        // margin:3rem auto;
        overflow: hidden;
        position: relative;
        &-icon {
            position: absolute;
            top: 40%;
            font-size:5rem;
            font-weight: bold;
            cursor: pointer;
            left: .5%;
            z-index: 1;
            color:#ccc;
            &:nth-child(2){
                left: 98%;
                text-align: right;
            }
        }
        &-list {
            // padding-left: 2rem;
            margin:1rem auto;
            display: flex;
            justify-content: left;
            overflow-x: auto;
            &::-webkit-scrollbar {
                visibility: hidden;
            }
        }
        &-item {
            min-width: 25%;
            position: relative;
            left: 0;
            padding-left:1rem;
            padding-right: 0.5rem;
            transition: all 0.25s linear;
            cursor: pointer;
            // border:1px solid transparent;
            &:hover {
                // border:1px solid #ccc;
                // background: #cccccc;
                transform: scale(1.1);
            }
            img {
                // width: 95%;
                height: 30rem;
                padding:1rem;
                margin:0 auto;
            }
            h3 {
                font-size: 1.4rem;
                font-weight: 500;
                padding : 1rem ;
                color:$text-color;

            }
            &__info {
                i {
                    font-size: 1.4rem;
                    margin-right: 5px;
                    padding-bottom: 0.5rem;
                    color:$text-color;
                    padding-left: 1rem;
                }
                span {
                    font-size: 1.2rem;
                    padding-bottom: 0.5rem;
                    color:$text-color;
                }
            }
        }
    }
    &__button {
        text-align: center;
        padding:3rem 0 ;
        text-align: center;
        display: flex;
        justify-content: space-between;
        align-items: center;
        /* padding: 3rem 3rem 8rem; */
        max-width: 40%;
        margin: 0 auto;
        .btn:first-child{
            padding: 1rem 4.2rem;
        }
    }
}
.intro {
    &__title {
        text-align: center;
        padding: 5rem;
        max-width: 84%;
        font-size: 1.6rem;
        margin: 0 auto;
        color:$text-color;
        border-bottom: 1px solid #ccc;
        h2 {
            padding-bottom: 2rem;
            font-size: 3rem;
            font-weight: 700;
            text-transform: uppercase;
            color:$text-color;
        }
        h3 {
            font-size: 1.8rem;
            font-weight: 400;
        }
    }
}
.btn {
    padding: 1rem 2rem;
    outline: none;
    font-size: 1.6rem;
    border: none;
    font-weight: 600;
    border-radius: 1rem;
    // margin-right: 10rem;
    color: #fff;
    background:$background-color;
    transition:0.25s linear;
    // &:first-child{
    //     padding:1rem 4.5rem;
    // }
    &:hover{
        background :#0982b9;
    }
}
.book {

    padding-bottom: 5rem;
    background: white;
    border-bottom: 1px solid #cccc;
    &__background {
        position: relative;
        img {
            height: 40rem;
            width: 100%;
        }
        h2 {
            position: absolute;
            top: 30%;
            text-align: center;
            width: 100%;
            font-size: 4.5rem;
            font-weight: 700;
            color:$background-color;
            text-shadow: 2px 2px 4px #000000;
        }
        &-input {
            position: absolute;
            top: 50%;
            width: 100%;
            display: flex;
            font-family: "Quicksand" , sans-serif;

            align-items: stretch;
            justify-content: center;
           
            input {
                font-size: 2rem;
                width: 65rem;
                font-family: "Quicksand" , sans-serif;
                padding: 1rem;
                outline: none;
                border: none;
                border-top-right-radius: 5px;
                border-bottom-right-radius: 5px;
            }
            i {
                font-size: 3rem;
                padding: 1rem 2rem;
                background: #e7e9e9;
                color:$background-color;
                border-top-left-radius: 5px;
                border-bottom-left-radius: 5px;
                cursor: pointer;
                transition: background-color .2s linear;
                &:hover {
                    background:#ccc;
                }
            }
        }
    }
    &__title {
        text-align: center;
        padding: 2rem 0 5rem 0;
        font-weight: 500;
        max-width: 60%;
        font-size: 2.5rem;
        margin: 0 auto;
        border-bottom: 1px solid #ccc;
        text-transform: uppercase;
    }
    &__desc {
        font-size: 2rem;
        padding: 2rem 0 2rem 2rem;
        font-weight: 600;
    }
    &__list {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    &__item {
        background: white;
        padding: 2rem 0 3rem;
        margin-bottom: 2rem;
        position: relative;
        border: 1px solid transparent;
        cursor: pointer;
        &:hover {
            border: 1px solid #ccc;
        }
        h2 {
            text-align: center;
            font-size: 1.3rem;
            padding: 1rem 0;
            font-weight: 500;
        }
        p {
            padding-bottom: 1px;
            text-align: center;
            font-size: 1.6rem;
            font-weight: 800;
        }
        &-overlay {
            position: absolute;
            bottom: 0; 
            background: rgb(0, 0, 0);
            // background: rgba(0, 0, 0, 0.5); /* Black see-through */
            color: #f1f1f1; 
            width: 100%;
            transition: .5s ease;
            opacity:0;
            color: white;
            font-size: 1.5rem;
            padding: 5px;
            text-align: center;
            span {
                margin:10px;
                cursor: pointer;
                transition: .5s ease;
                &:hover {
                    text-decoration: underline;
                }
            }
        }
        &:hover .book__item-overlay {
            opacity: 1;
        }
    }
    &__button {
        text-align: center;
        display: flex;
        justify-content: space-between;
        align-items: center;
        /* padding: 3rem 3rem 8rem; */
        max-width: 40%;
        margin: 0 auto;
        // button:last-child {
        //     padding : 1rem 3rem ;
        // }
    }
}
.job {
    &__background {
        position: relative;
        img {
            width: 100%;
            height: 40rem;
        }
        h2 {
            position: absolute;
            top: 30%;
            text-align: center;
            width: 100%;
            font-size: 4rem;
            font-weight: 700;
            color:$background-color;
            text-shadow: 2px 2px 4px #000000;
        }
        &-input {
            position: absolute;
            top: 50%;
            width: 100%;
            display: flex;
            align-items: stretch;
            justify-content: center;
            font-family: "Quicksand" , sans-serif;

            span {
                font-size: 2rem;
                padding: 1rem 2rem;
                background: #e7e9e9;
                font-weight: 600;
                border-top-left-radius: 5px;
                border-bottom-left-radius: 5px;
                color: $text-color;
            }
            input {
                font-size: 2rem;
                width: 50rem;
                padding: 1rem;
                font-family: "Quicksand" , sans-serif;
                outline: none;
                border: none;
            }
            i {
                font-size: 3rem;
                padding: 1rem 2rem;
                background: #e7e9e9;
                color:$background-color;
                border-top-right-radius: 5px;
                border-bottom-right-radius: 5px;
                cursor: pointer;
                transition: background-color .2s linear;
                &:hover {
                    background:#ccc;
                }
            }
        }
    }
    &__title {
        text-align: center;
        padding-bottom: 1rem;
        font-size: 1.8rem;
        font-weight: 500;
        max-width: 40%;
        margin: 0 auto 3rem;
        border-bottom: 1px solid #cccc;
    }
    &__button {
        &-btn {
            display: flex;
            justify-content: space-between;
            align-items: center;
            max-width: 50%;
            margin: 0 auto;
            padding:5rem 0;
            .btn:last-child {
                padding: 1rem 3.8rem;
            }
        }
        display: flex;
        justify-content: space-between;
        align-items: center;
        max-width: 80%;
        padding :6rem 0;
        // padding: 3rem 3rem 8rem;
        &-create {
            background: #ccc;
            padding: 2rem;
            border-radius: 10px;
            margin-right: 20rem;
            max-width: 30rem;
            cursor: pointer;
            position: relative;
            transition: background-color 0.2s linear;
            h1 {
                font-size: 2.5rem;
                font-weight: 700;
                color: #016392;
            }
            i {
                position: absolute;
                font-size: 5rem;
                top: 7%;
                right: 23%;
                color: #016392;
            }
            p {
                font-size: 1.8rem;
            }
            &:hover {
                background: rgb(190, 186, 186);
            }
        }
        &-post {
            background: #ccc;
            padding: 2rem;
            border-radius: 10px;
            max-width: 30rem;
            cursor: pointer;
            transition: background-color 0.2s linear;
            h1 {
                font-size: 2.3rem;
                font-weight: 700;
                color: #016392;
            }
        
            p {
                font-size: 1.8rem;
            }
            &:hover {
                background: rgb(190, 186, 186);
            }
        }
    }
}
.table {
   
    tr {
        transition:background-color 0.2s linear;
        &:last-child {
            border-bottom: 1px solid rgb(207, 205, 205);
        }
        &:hover {
            background:rgb(226, 220, 220);
        }
        &:hover .name__info-job {
            color:$background-color;
        }
    }
    th {
        font-size: 1.6rem;
        color: $background-color;
        padding:2rem 0rem ;
        font-weight: 600;
        border-top: none;
        background: #78bbda;
        &:first-child{
            padding-left: 1rem;

        }
    }
    td {
        font-size:1.6rem;
        color: $text-color;
        padding:1rem 0 ;
        
    }
}
.name__info {
    &-job {
        font-size: 1.8rem;
        font-weight: 600;
        padding-left: 1rem;
        transition: color .2s linear;
    }
    &-cty {
        text-transform: uppercase;
        font-size: 1.8rem;
        color :#999;
        padding-left: 1rem;
    }
}

.job__button {
    // max-width: 50%;
    margin: 0 auto;
    // .btn:last-child {
    //     padding:1rem 5rem;
    // }
}
.footer {
    background :$primary-color;
    &__end {
        display: flex;
        justify-content: space-between;
        align-items: stretch;
        padding:2rem 0 ;
    }
    &__me {
        max-width: 30%;
    }
    &__logo {
        h1 {
            font-size : 4.5rem ;
            font-weight : 900 ;
            color: #fff;
            // font-style: italic;
            text-shadow: 2px 2px 2px #e7dfdf;
        }
    }
    &__about {
        color: white;
        padding: 2rem 0;
        h2 {
            font-size: 1.8rem;
            font-weight: 700;
            padding-bottom: 1rem;
            
        }
        p {
            font-size: 1.4rem;
        }
    }
    &__contact {
        color: white;
        padding-top: 4rem;
        h1{
            font-size: 1.8rem;
            font-weight: 700;
            padding-bottom: 1rem;
           
        }
        i {
            font-size: 1.6rem;
            margin-right: 1.5rem;
        }
        span {
            font-size: 1.4rem;
        }
        &-title {
            font-size: 1.5rem;
            padding: 1rem 0;
        }
        &-input {
            font-size: 1.3rem;
            padding: 0.5rem;
            outline: none;
            border-radius: 5px;
            border: none;
            font-family: "Quicksand" , sans-serif;

            width: 22rem;
            margin-bottom: 1rem;
        }
        &-button {
            outline: none;
            padding: 0.8rem 3rem;
            color: white;
            border: none;
            border-radius: 5px;
            margin-bottom: 1rem;
            font-size: 1.4rem;
            background:$background-color;
            transition: background-color .2s linear;
            cursor: pointer;
            &:hover {
                background :#0982b9;
            }
            &:focus {
                outline: none;
            }
        }
        &-social {
            
            i {
                font-size:2rem;
                cursor: pointer;
                transition: color .2s linear;
                &:hover {
                    transform: rotate(360deg);
                    color:#0c88ef;
                }
                &:hover:nth-child(3) {
                    transform: rotate(360deg);
                    color:#ec1d1d;
                }
                &:hover:nth-child(4) {
                    transform: rotate(360deg);
                    color:#b9199f;
                }
            }
            a  {
                color: #fff;
                i:hover {
                    color:#0c88ef;
                }
            }
        }
    }
    &__info {
        padding-top: 3rem;
        color: white;
        h2 {
            font-size: 2rem;
            padding-bottom: 1rem;
            font-weight: 500;
        }
    }
    &__list {
        li {
            font-size: 1.4rem;
            padding-bottom: 0.5rem;
            cursor: pointer;
            &:hover {
                text-decoration: underline;
            }
        }
    }
    &__help {
        padding-top: 3rem;
        color: white;
        h2 {
            font-size: 2rem;
            padding-bottom: 1rem;
            font-weight: 500;

        }
    }
}